.products-item {
  position: relative;
}

.products-item__container {
  display: flex;
  gap: 48px;
  align-items: center;
}

.products-item__box {
  position: relative;
  max-width: 550px;
  margin-top: 100px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.04), 4px 4px 8px rgba(0, 0, 0, 0.08);
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    .products-item__image > img {
      transform: scale(1.05);
    }
  }
}

.products-item__image-box {
  position: relative;
}

.products-item__image-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.products-item__category {
  text-transform: capitalize;
  text-decoration: underline;
}

.products-item__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

.products-item__title-id {
  font-weight: 400;
  text-transform: uppercase;
}

.products-item__image {
  overflow: hidden;

  & > img {
    border-radius: 8px;
    max-width: 550px;
    max-height: 400px;
    min-height: 280px;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.products-item__text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 8px;
  padding: 24px;
}

.products-item__results {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 50px;
  padding: 24px;
}

.products-item__download {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 12px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #6941c6;
  border: 1px solid #6941c6;
  width: 250px;
  cursor: pointer;
}

.products-item__cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.products-item__card {
  z-index: 1;
}
