.products-item {
  max-width: 350px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.04),
      4px 4px 8px rgba(0, 0, 0, 0.08);
    cursor: pointer;

    .products-item__image > img {
      transform: scale(1.05);
    }
  }
}

.products-item__image-box {
  position: relative;
}

.products-item__image-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.products-item__category {
  text-transform: capitalize;
  text-decoration: underline;
}

.products-item__price-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

.products-item__price {
  font-weight: 400;
}

.products-item__image {
  overflow: hidden;

  & > img {
    max-width: 420px;
    max-height: 280px;
    min-height: 280px;
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.products-item__text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 8px;
  padding: 24px;
}

.products-item__more {
  margin-top: 16px;
}

.products-item__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #101828;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.products-item__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
